/* Color scheme being used: https://color.adobe.com/Vintage-Romantic-color-theme-2646522/edit/?copy=true&base=2&rule=Custom&selected=2&name=Copy%20of%20Vintage%20Romantic&mode=rgb&rgbvalues=0.34902,0.196078,0.235294,0.14902,0.00392157,0.14902,0.94902,0.933333,0.701961,0.74902,0.686275,0.501961,0.54902,0.411765,0.329412&swatchOrder=0,1,2,3,4 */
body {
  font-family: 'RobotoDraft';
  font-weight: 400 !important;
  background-color: #260126 !important;
  /*background-image: linear-gradient(to bottom, #000040, #918e82 100%);*/
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.container-fluid {
  margin: 0 !important;
}

.header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  margin: 0 !important;
  font-size: 20px;
  color: #8C6954;
  background-color: #59323C;
}

/* Icons taken from http://ionicons.com/ */

input {
  height: 35px;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  padding-left: 10px;
  color: white;
}

textarea {
  font-size: 25px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  padding-left: 10px;
  color: white;
}